
@model CategoryEditModel

<div class="container">
    <h1 class="text-center">Редагувати категорію</h1>
    <form asp-action="Edit" method="post" enctype="multipart/form-data" class="col-md-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ExistingImage"></label><br />
            <img src="@Model.ExistingImage" width="100" />
        </div>
        <div class="mb-3">
            <label>Нове зображення (необов'язково)</label>
            <input asp-for="NewImage" type="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
</div>